.pagethreeContent{
    width: 285px;
    height: 350px;
    /* border: solid 1px red;  */
    background-color: white;
    
}

.newsImage{
    width: 285px;
}

.newsTitle{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    font-weight: normal;
    color: gray;
}

.newsText{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.newsDate{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    font-weight: normal;
    color: gray;

}